## Gradient Boosting Regressor Algoritmasının Uygulanması

In [1]:
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
import pandas as pd

In [2]:
df = pd.read_excel("yeni3.xlsx")
df.drop("Unnamed: 0", axis = 1, inplace = True)

In [3]:
df

,fiyat,ilce,konut,oda_sayisi,net_mt,brut_mt,dairenin_katı,yas,esya_durumu,banyo_sayisi,yapi_tipi,yakit_tipi
0,1350000,10,0,5,150,140,14,0,1,0,1,1
1,22000000,12,0,10,284,256,8,5,1,2,1,1
2,3950000,24,0,5,165,145,3,20,1,0,1,1
3,50400000,12,1,7,420,350,16,11,1,3,1,1
4,4300000,13,0,5,160,116,3,11,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1196,1200000,15,0,2,120,110,16,22,1,0,1,1
1197,2132000,8,0,2,123,99,7,0,1,1,1,2
1198,650000,15,0,2,102,98,0,0,1,0,1,1
1199,4600000000,32,0,5,125,115,4,12,0,1,1,1
1200,2450000,7,1,1,70,50,4,42,1,0,1,1

Bazı değişkenlerin - değer çıkmasının sebebi fiyatlara negatif etki etmesindendir diye yorumladık.

In [4]:
print('Fiyat ile en iyi ilişkisi olan değişken')
corr = df.corr()
corr.sort_values(['fiyat'], ascending = False, inplace = True)
corr.fiyat

Fiyat ile en iyi ilişkisi olan değişken

fiyat            1.000000
banyo_sayisi     0.044687
ilce             0.040565
brut_mt          0.038608
oda_sayisi       0.037708
net_mt           0.030283
konut            0.003903
yapi_tipi        0.000988
yakit_tipi      -0.004459
yas             -0.020880
dairenin_katı   -0.028180
esya_durumu     -0.093497
Name: fiyat, dtype: float64

In [9]:
y = df['fiyat']

In [10]:
del df['fiyat']

In [11]:
X = df.values
y = y.values

In [12]:
#Verileri eğitim ve test verileri olmak üzere ikiye ayıralım (%60 eğitim, % 40 test)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state = 42)

In [13]:
#modelimizi eğitelim
from sklearn.ensemble import GradientBoostingRegressor
GBR = GradientBoostingRegressor(n_estimators = 100, max_depth = 4)

In [14]:
#Veri setimize model uygulayalım
GBR.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=4)

In [15]:
#Doğruluk oranımızı da kontrol edelim
print("Doğruluk Oranı :",(f"{ GBR.score(X_test, y_test)*100:.4f}"))

Doğruluk Oranı : 71.6111

In [16]:
print(" Gerçek değerler:","\n",y_test[10:15])

 Gerçek değerler:
 [ 2850000 11995000  3000000  1899000  4700000]

In [17]:
print(" Tahmin edilen değerler:","\n", GBR.predict(X_test)[10:15])

 Tahmin edilen değerler:
 [3305052.01114643 8879890.96373103 2811653.77139994 2271657.40312613
 6627334.64334138]

In [65]:
print("Tahmin edilen değer : " + str(GBR.predict([X_test[9]])))
print("Gerçek değer : " + str(y_test[9]))

Tahmin edilen değer : [3185194.07103715]
Gerçek değer : 3990000

In [20]:
np.sqrt(-1*(cross_val_score(GBR, X_test, y_test, cv=10, scoring='neg_mean_squared_error'))).mean()

6370703.811437609